<?xml version="1.0"?>
<config>
    <modules>
        <Hevelop_Gls>
            <version>1.0.0</version>
        </Hevelop_Gls>
    </modules>
    <global>
        <blocks>
            <hevelop_gls>
                <class>Hevelop_Gls_Block</class>
            </hevelop_gls>
        </blocks>
        <helpers>
            <hevelop_gls>
                <class>Hevelop_Gls_Helper</class>
            </hevelop_gls>
        </helpers>
        <models>
            <hevelop_gls>
                <class>Hevelop_Gls_Model</class>
            </hevelop_gls>
        </models>
        <resources>
            <hevelop_gls_setup>
                <setup>
                    <module>Hevelop_Gls</module>
                </setup>
            </hevelop_gls_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <export_shipment_gls>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>hevelop_gls/cron::exportShipment</model>
                </run>
            </export_shipment_gls>
        </jobs>
    </crontab>
    <hevelopgls>
        <general>
            <enabled>0</enabled>
            <debug_enabled>0</debug_enabled>
        </general>
        <ftp>
            <enabled>0</enabled>
            <host></host>
            <user></user>
            <password></password>
        </ftp>
    </hevelopgls>
</config>
