<?xml version="1.0"?>
<config>
    <modules>
        <Hevelop_Gls>
            <version>2.2.0</version>
        </Hevelop_Gls>
    </modules>
    <global>
        <blocks>
            <hevelop_gls>
                <class>Hevelop_Gls_Block</class>
            </hevelop_gls>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Hevelop_Gls_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <deleteorder>
                <rewrite>
                    <adminhtml_sales_order_grid>Hevelop_Gls_Block_Adminhtml_Sales_Order_Grid</adminhtml_sales_order_grid>
                </rewrite>
            </deleteorder>
        </blocks>
        <helpers>
            <hevelop_gls>
                <class>Hevelop_Gls_Helper</class>
            </hevelop_gls>
        </helpers>
        <models>
            <hevelop_gls>
                <class>Hevelop_Gls_Model</class>
            </hevelop_gls>
        </models>
        <resources>
            <hevelop_gls_setup>
                <setup>
                    <module>Hevelop_Gls</module>
                </setup>
            </hevelop_gls_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hevelop_gls before="Mage_Adminhtml">Hevelop_Gls</hevelop_gls>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <export_shipment_gls>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>hevelop_gls/cron::exportShipment</model>
                </run>
            </export_shipment_gls>
        </jobs>
    </crontab>
    <default>
        <carriers>
            <hevelop_gls>
                <active>0</active>
                <model>hevelop_gls/carrier_gls</model>
                <title>GLS</title>
                <sort_order>10</sort_order>
            </hevelop_gls>
        </carriers>
        <hevelopgls>
            <general>
                <enabled>0</enabled>
                <debug_enabled>0</debug_enabled>
                <delimiter>;</delimiter>
            </general>
            <ftp>
                <enabled>0</enabled>
                <host></host>
                <user></user>
                <password></password>
            </ftp>
        </hevelopgls>
    </default>
</config>
